@charset utf-8;

body {
	background: #B01C1C;
	background: -webkit-linear-gradient(to bottom, #fff 30%, #F0DC1C 50%, #B01C1C 90%);
	background:    -moz-linear-gradient(to bottom, #fff 30%, #F0DC1C 50%, #B01C1C 90%);
	background:     -ms-linear-gradient(to bottom, #fff 30%, #F0DC1C 50%, #B01C1C 90%);
	background:      -o-linear-gradient(to bottom, #fff 30%, #F0DC1C 50%, #B01C1C 90%);
	background:         linear-gradient(to bottom, #fff 30%, #F0DC1C 50%, #B01C1C 90%);
	font-family: 'Roboto', sans-serif;
}
p {
	color: #601C1C;
	font-size: 1.4em;
}
p + p {
	margin-top:2em;
}
img {
	max-height:200px;
}
.container {
	padding: 3%;
	height:100vH;
}
#offline {
	color:#fff;
	padding:0;
}
#offline p {
	margin: 1em;
	color:#fff;
}
#offline a, #offline .glyphicon {
	color:#F0DC1C;
}
#offline img {
	padding-bottom:2em;
}
.progress {
	width:70%;
	margin:3em auto 2em auto;
}
.progress-bar {
	background:#B01C1C;
}
.net {
	font-size: 1em;
	margin:0;
}
@media (min-width: 768px) { 
	#offline .adresse, #offline .zeiten  {
		text-align:left;
	}	
}